mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.home-button {
  /* margin-left: 1em; */
  background-color: rgba(67, 206, 127, 0.671);
}

.home-button:hover {
  background-color: rgb(67, 206, 127);
  transition: 0.2s;
}

.about-button {
  background-color: rgba(255, 217, 0, 0.63);
}

.about-button:hover {
  background-color: rgba(255, 217, 0, 0.938);
  transition: 0.2s;
}

.contact-button {
  background-color: rgba(238, 130, 238, 0.488);
}

.contact-button:hover {
  background-color: violet;
  transition: 0.2s;
}

.support-button {
  background-color: rgba(0, 255, 255, 0.397);
}

.support-button:hover {
  background-color: rgba(0, 255, 255, 0.733);
  transition: 0.2s;
}

.calculator-button {
  background-color: darkslateblue;
}

.calculator-button:hover {
  background-color: slateblue;
  transition: 0.2s;
}

.extra-button {
  background-color: rgb(97, 97, 97);
}

.extra-button:hover {
  background-color: rgb(116, 116, 116);
  transition: 0.2s;
}

.name-editor-button {
  background-color: rgb(18, 84, 0);
}

.name-editor-button:hover {
  background-color: rgb(32, 147, 0);
  transition: 0.2s;
}

.poke-api-call-button {
  background-color: rgba(160, 0, 0, 0.575);
  color: white;
}

.poke-api-call-button:hover {
  background-color: rgba(255, 0, 0, 0.781);
  transition: 0.2s;
}

.profile-editor-button {
  background-color: rgba(187, 70, 134, 0.733);
  color: white;
}

.profile-editor-button:hover {
  background-color: rgb(187, 70, 135);
  transition: 0.2s;
}

.first-navbar {
  min-width: 540px;
  max-width: 100%;
}

.second-navbar {
  background: #3f51b5a4;
  color: white;
  justify-content: center;
  min-width: 540px;
  max-width: 100%;
}
