<!-- <p>home works!</p> -->

<h2>Home</h2>

<div *ngIf='products.length !== 0' class='product-scroll-box center-formatting'>
    <p>Scroll box meant to handle overflow content.</p>
    <p>A list for the products shown below this scroll box.</p>

    <p class='center-formatting' *ngIf='products.length === 0'>Awaiting Product Information ... </p>

    <div class='ol-container'>
        <ol class='left-formatting'>
            <li *ngFor='let product of products'>ID: {{product.id}}
                <ul>
                    <li>Name: {{product.name}}</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<div *ngIf='products.length !== 0' class='page-buttons'>
    <button (click)="firstPage()" mat-button> First</button>
    <button (click)="previousPage()" mat-button> Previous</button>
    <button (click)="nextPage()" mat-button> Next</button>
    <button (click)="lastPage()" mat-button> Last</button>
</div>

<div class='product-cards'>
    <div class='awaiting-products-container' *ngIf='products.length === 0'>
        <p>Awaiting Products</p>
        <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    </div>

    <mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>#{{product.id}} {{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $/ {{product.quantity}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
            <div class='product-image-formatting'>
                <img style="height:50%; width: 50%;" src="{{ product.imageUrl }}" alt='product-image' />
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button> Buy product</button>
        </mat-card-actions>
    </mat-card>

</div>

<div *ngIf='products.length !== 0' class='page-buttons'>
    <button (click)="firstPage()" mat-button> First</button>
    <button (click)="previousPage()" mat-button> Previous</button>
    <button (click)="nextPage()" mat-button> Next</button>
    <button (click)="lastPage()" mat-button> Last</button>
</div>