h2 {
  text-align: center;
  background-color: rgb(120, 167, 153);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0;
}

.product-scroll-box {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: scroll;
  padding: 2em;
  border: 6px groove rgb(35, 130, 219);
  background-color: #353535;
  color: yellow;
  font-weight: bold;
  font-size: 1.2em;
}

.center-formatting {
  text-align: center;
}

.left-formatting {
  text-align: left;
}

.ol-container {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 139, 0.575);
  border-radius: 2em;
  padding: 1em;
}

.product-cards {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awaiting-products-container {
  text-align: center;
}

.awaiting-products-container mat-spinner {
  margin: 0 auto;
}

.product-cards p {
  margin-top: 0;
}

.mat-card {
  width: 45vw;
  margin: 0.3em;
  background-color: rgba(250, 235, 215, 0.747);
  padding: 0.5em;
}

.product-image-formatting {
  text-align: center;
}

.mat-card mat-card-header {
  justify-content: center;
  text-align: center;
}
.mat-card mat-card-actions {
  justify-content: center;
  text-align: center;
  padding-bottom: 0.5em;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.page-buttons button {
  background-color: gray;
}

ol {
  list-style-position: inside;
}

ol li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
